/* 네비게이션 */
.nav {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home {
  width: 1.5rem;
  height: 1.5rem;
}
.home-icon {
  width: 100%;
  height: 100%;
}

.title {
}

/* 메인 */
.main {
  margin: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 메뉴 */
.menu {
  display: flex;
}

#start {
  width: 2.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(189, 189, 189);
  display: block;
}
#restart {
  width: 3.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(189, 189, 189);
  display: none;
}

#reset {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 18.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(189, 189, 189);
}

/* 출력 */
.output {
  width: 24rem;
  height: 24rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(189, 189, 189);
}

#output-img {
  margin-top: 1rem;
  margin-left: 4rem;
  width: 16rem;
  height: 16rem;
}

#output-text {
  margin-top: 1.3rem;
  width: 24rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#output-try {
  margin-top: 1rem;
  width: 24rem;
  height: 1.2rem;
  text-align: center;
  font-size: 1.2rem;
}

/* 입력 */
.input {
  margin: 3rem;
}

#input-content {
  width: 14rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid grey;
}

#input-ok {
  width: 2.5rem;
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(189, 189, 189);
  border: 1px solid grey;
}
